*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rebeccapurple;
    margin: 232px;
    text-align: center;
    padding-left: 360px;
}
body input{
    width: 266px;
    display: block;
    margin-bottom: 22px;
    height: 40px;
    border: inset;
}
body button{
    width: 153px;
    margin-bottom: 14px;
    height: 47px;
    border-radius: 74;
    font-size: 20px;
    margin-right: 410px;
}

h1{
    margin: 30px;
    text-align: center;
    display: inline-block;
    margin-left: -402px;
    color: darkgray;
}
h1 span{
    color: aquamarine;
}